.editor {
  /* position: relative; */
  /* top: 70px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  overflow-x: scroll;
  margin: 20px;
  /* background-color: #3e3e3d; */
  margin: 0;
  padding: 30px;
}

.editor-container {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.note-wrapper {
  height: 100%;
  display: flex;
}

.note-column {
  display: flex;
  flex-direction: column;
}

.note-column--active {
  background: #72b0f7;
}

.note {
  height: 30px;
  width: 30px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 2px;
  padding: 2px;
  cursor: pointer;
  border-radius: 5px;
  /* box-shadow: 0 0 1px 1px #ccc; */
}

.note--active {
  background: #3a85da;
  color: #ffffff;
}

/* .note:active {
  background: lightgrey;
} */

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem;
  border: none;
  color: #ffffff;
  background-color: #3a85da;
  border-radius: 10px;
  cursor: pointer;
  /* box-shadow: 0 0 1px 1px #ccc; */
}

.button:hover {
  background-color: #0b4281;
}
