.navbar {
  /* position: fixed; */
  height: 90px;
  width: 100%;
  background-color: #1c2237;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  /* margin-bottom: 90px; */
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.music-icon {
  font-size: 2em;
  margin-right: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.nav-menu {
  margin: 0px auto;
  width: 120vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  margin: 30px;
  font-size: 1.4em;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.nav-link:hover {
  color: #c2c2c2;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 767px) {
  .nav-menu {
    width: 100%;
    /* height: 90vh; */
    height: 0;
    position: relative;
    top: 70px;
    /* left: -100%; */
    left: 0;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    display: none;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1c2237;

    /* left: 0; */
    position: absolute;
    top: 70px;
    left: 0px;
    height: 100vh;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-link {
    text-align: center;
    padding: 2rem;
    margin: 0;
    width: 100%;
    display: table;
  }

  .nav-link:hover {
    color: #4d96e9;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
}
