.home-container {
  top: 80px;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home-title {
  margin-top: -200px;
  margin-bottom: -20px;
  font-size: 7em;
  font-family: 'Homemade Apple', cursive;
  color: #ecd82b;
  text-shadow: 2px 2px 0;
  font-size: 9vw;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}

.home-nav-link {
  width: 160px;
  height: 70px;
  opacity: 80%;
  font-size: 25px;
  text-decoration: none;
  background-color: #ecd82b;
  color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

#video {
  position: absolute;
  margin-top: -4%;

  top: 90px;
  z-index: -1;
  opacity: 0.8;
  height: 60vw;
  width: 177.77777778vh;
  min-width: 100%;
  min-height: 56.25vw;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 100px;
  color: #000000;
  max-height: 200px;
}

@media screen and (max-width: 768px) {
  .home-container {
    margin-top: 200px;
    height: 120vh;
    /* flex-grow: 1; */
  }

  #video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hero-section {
    color: #000000;
  }
}
