.navbar {
  /* position: fixed; */
  height: 90px;
  width: 100%;
  background-color: rgb(219, 219, 219);
  display: block;
  /* margin-bottom: 90px; */
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  margin: 30px;
  font-size: 1.4em;
  border-bottom: 3px solid transparent;
  transition: 0.4s ease-in-out;
}
